.ContactInformationContainer {
  display: flex;
  justify-content: center;
}

.ContactInformationItemsContainer {
  width: 1460px;
}

.ContactInformation {
  display: flex;
  flex-wrap: wrap;
}

.LinkedContactItem {
  cursor: pointer;
  font-size: larger;
  margin: 10px;
}

.ContactItem {
  font-size: larger;
  margin: 10px;
}

.ContactImage {
  width: 25px;
  margin-right: 3px;
}

@media (max-width: 1494px) {
  .ContactInformationItemsContainer {
    width: 720px;
  }
}

@media (max-width: 720px) {
  .ContactInformationItemsContainer {
    width: 100%;
    padding: 10px;
  }
}
