.TuCompraContainer {
  justify-content: center;
}
.MainTitle::before {
  content: "Proyecto TusCompras (en desarrollo)";
}
.Carousel {
  width: 98vw;
  max-width: 720px;
  margin: 10px;
}
.CarouselItem {
  width: 570px;
  height: 300px;
}
.AppButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: space-around;
}
.AppButton {
  margin: 10px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: larger;
}

@media (max-width: 500px) {
  .MainTitle::before {
    content: "Proyecto TusCompras";
  }
}
@media (max-width: 320px) {
  .AppButton {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
