.CurriculumContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.CurriculumTitleContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.CurriculumItemsContainer{
    width: 1460px;
}

.CurriculumItem{
    width: 720px;
    justify-content: center;
    align-content: center;
    
}

@media (max-width:1494px) {
    .CurriculumItemsContainer{
        width: 720px;
    }
    
}