.CurriculumContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.CurriculumTitleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
}
.DownloadButton{
    background-color: #0D6EFD;
    font-size: larger;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    align-self: center;
}

.DownloadButton:hover{
    color: white;
}
.CurriculumItemsContainer{
    width: 1460px;
}

.CurriculumItem{
    width: 720px;
    justify-content: center;
    align-content: center;
    
}

@media (max-width:1494px) {
    .CurriculumItemsContainer{
        width: 720px;
    }
    
}